@charset "UTF-8";

@use "base" as *;

.video {
  &-card {
    position: relative;
    border-radius: 120px;
    &:nth-child(3) {
      margin-left: -30%;
    }
    &:nth-child(4) {
      margin-right: -30%;
    }
    &::before {
      content: " ";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      border-radius: inherit;
      padding: 0;
      translate: -50% -50%;
      opacity: 0;
      transition: all 0.1s linear;
    }
    &:hover {
      &::before {
        opacity: 1;
        background: linear-gradient(
          180deg,
          #ff6600 0%,
          rgba(255, 132, 0, 0.7) 100%
        );
        box-shadow: 8px 16px 24px 0 rgba(198, 187, 177, 0.5);
        backdrop-filter: blur(9.350000381469727px);
        padding: 15px;
        @include maskContents();

        top: 50%;
        left: 50%;
        translate: -50% -50%;
      }
      .card {
        &::before {
          content: " ";
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          border-radius: inherit;
          box-shadow: 0 0 7px 0 #000;
          z-index: -1;
        }
      }
    }

    .pick {
      position: absolute;
      left: -110px;
      top: -10px;
      width: 144px;
      height: 42px;
      border-radius: 24px 24px 0 24px;
      border: 1px solid rgba(255, 255, 255, 0.5);

      background: var(--bg-pick);
      font-size: 16px;
      color: var(--text-pick);
      box-shadow: 0 4px 8px 0 rgba(166, 154, 97, 0.25);
      backdrop-filter: blur(2px);
      gap: 2px;
      @include flex();

      em {
        margin-left: 2px;
        font-weight: 700;
      }
      .ico-pick {
        z-index: 1;
        @include svgIcon("../images/ico/ico_pick.svg", 24px);
      }
    }
    .card {
      width: 360px;
      height: 144px;
      border-radius: inherit;
      border: 1px solid rgba(255, 255, 255, 0.8);
      background: rgba(255, 255, 255, 0.6);
      box-shadow: 0 8px 12px 0 rgba(217, 202, 190, 0.5);
      backdrop-filter: blur(9.350000381469727px);
      gap: 22px;
      padding: 8px 32px 8px 12px;
      z-index: 1;
      @include flex();
      &:hover {
        box-shadow: 0 8px 12px 0 rgba(217, 202, 190, 0.5);
      }
    }
    .thumb {
      position: relative;
      min-width: 128px;
      max-width: 128px;
      border-radius: 50%;
      aspect-ratio: 1 / 1;
      overflow: hidden;
      @include flex();
      &::after {
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.3);
        box-sizing: border-box;
        padding: 4px;
        @include maskContents();
      }
      img {
        width: 100%;
        height: 100%;
        max-width: auto;
        object-fit: cover;
      }
    }
    .txt-box {
      @include flex(column, flex-start, center);
      .bookmark {
        position: absolute;
        top: 10px;
        right: 42px;
        width: 24px;
        height: 24px;

        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;

        input[type="checkbox"] {
          width: 24px;
        }
      }
      .category {
        margin-bottom: 8px;
        font-size: 12px;
        font-weight: 700;
        color: #252525;
        display: block;
        padding: 4px 6px;
        border-radius: 4px;
        background: #ded7cf;
        &.leader {
          background: var(--bg-cate-primary);
        }
        &.insight {
          background: var(--bg-cate-secondary);
        }
        &.biz {
          background: var(--bg-cate-tertiary);
        }
      }
      .title {
        font-size: 20px;
        font-weight: 700;
        line-height: 1.2;
        color: var(--text-primary);
        @include ellipsis(2);
      }
      .author {
        margin-top: 16px;
        font-size: 14px;
        font-weight: 700;
        color: var(--text-secondary);
        gap: 8px;
        @include flex();
        @include ellipsis(1);
      }
    }
    .gauge {
      &-bar {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--bg-gauge-base);
        padding-bottom: 4px;
        @include maskContents();
      }
      &-fill {
        position: absolute;
        left: 0;
        top: 50%;
        height: 50%;
        background: var(--bg-gauge-primary);
      }
    }
  }
}
