@charset "UTF-8";

@use "sass:map";
@use "base" as *;

// =======================================
// Guide Styles
// =======================================
.guide {
  &-wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    opacity: 0;
    @include transition(opacity, 0.5s, ease);
    display: none;
    @include full-height;

    &.active {
      opacity: 1;
      pointer-events: auto;
      display: block;
    }
  }

  &-svg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: auto;
  }

  &-borders {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 10000;
  }

  &-border {
    position: absolute;
    //outline: 2px dashed rgba(255, 255, 255, 0.8);
    border-radius: 4px;
  }

  &-mask {
    &.nav {
      position: absolute;
      left: 50%;
      top: 14px;
      width: 900px;
      height: 32px;
      translate: -61% 0;
      opacity: 0.5;
    }
  }
  &-tooltip {
    &-box {
      position: fixed;
      background: white;
      //border: 2px solid #000;
      border-radius: 8px;
      padding: 16px 12px;
      word-break: keep-all;
      //max-width: 300px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
      z-index: 10001;
      pointer-events: auto;
      opacity: 0;
      &:has(.guide-tooltip-description){
        .guide-tooltip-title {
          margin-bottom:8px;
        }
      }
      &::before ,
      &::after {
       @include pseudo(black, absolute);
      }
      &::before{
        top: -20px;
        width: 1.5px;
        height: 20px;
        background-color: #fff;
      }
      &::after{
        top: -25px;
       
        border-radius: 50px;
        width: 12px;
        height: 12px;
        background-color: #FF602F;
        border: 1.5px solid #fff
      }
      &.menu,
      &.search,
      &.notice,
      &.mypage{
        position: absolute;
        top: 72px;
      }
      &.menu {
         left:calc(50% - 283px);
         translate: -50% 0;
         &::before ,
         &::after {
          @include pseudo(black, absolute);
         }
         &::before{
            right: 58px;

         }
         &::after{
            right: 51.5px;
         }
         p {
          position: relative;
          padding-left: 10px;
          &::before{
            content: " ";
            position: absolute;
            left: 0;
            top: 8px;
            display: block;
            width: 3px;
            height: 3px;
            border-radius: 50%;
            background-color: #333;
          }
        }
      }
      &.search {
        width: 180px;
        translate: -35% 0;
        &::before{
          right: 88px;
       }
       &::after{
          right: 81.5px;
       }
      }
      &.notice{
        width: 122px;
        translate: -106% 0;
        &::before{
          right: 32px;
        }
        &::after{
            right: 25.5px;
        }

      }
      &.mypage{
        width: 168px;
        translate: 8% 0;
        &::before{
          left: 22px;
        }
        &::after{
          left: 15.5px;
        }
        .guide-tooltip-description {
          letter-spacing: -0.064em;
        }
      }
      &.change {
        text-align: right;
        white-space: nowrap;
        width: max-content;
        translate: -100% 0;
        &::before{
          right: 52px;
        }
        &::after{
          right: 45.5px;
        }
      }
      &.interest {
        &::before{
          left: 52px;
        }
        &::after{
          left: 45.5px;
        }
      }
      &.learning {
        translate: -50% calc(110px + 200%);
        &::before{
          top: -70px;
          left: 22px;
          height: 70px;
        }
        &::after{
          top: -72px;
          left: 15.5px;
        }
      }
    }
    &-title {
      font-weight: 700;
      font-size: 18px;
      margin-bottom:0;
      color: #000;
      &:has(.guide-tooltip-description){
        margin-bottom:8px;
      }
    } 
    &-description {
      font-size: 16px;
      line-height: 1.5;
      color: #666;
      white-space: pre-line;
      
    }
  }
}
