@charset "UTF-8";

@use "base" as *;

// html.is-locked,
html {
  scroll-behavior: smooth;
  &.is-locked {
    body {
      height: calc(var(--window-inner-height) - 1px);
      overflow: hidden;
      box-sizing: border-box;
    }
    #wrap {
      position: fixed;
    }
  }
  body {
    margin: 0;
    padding: 0;
  }
}

/* common */
.wrap {
  position: relative;
  min-height: var(--window-inner-height);
  background: var(--bg-main);
  background-attachment: fixed;
  overflow: hidden;
  /*
  &:not(.intro) {
    &::after {
      content: " ";
      position: fixed;
      left: 0;
      top: 64px;
      display: block;
      width: 100%;
      height: 46px;
      border-top: 2px solid #f3dba8;
      border-radius: 30px 30px 0 0;
      background: var(--bg-primary);
      box-shadow: 0 -9px 6.3px 0 rgba(0, 0, 0, 0.5);
    }
  }*/
}

.inner {
  //max-width: 1380px;
  // padding: 0 60px;
  //margin: 0 auto;
}

.header {
  h1 {
    width: 95px;
    height: 25px;
    background: url(../images/logo.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    @include textBlind();
  }
}

.nav {
  &-wrap {
    position: relative;
    width: 100%;
    background: var(--bg-nav);
    color: var(--text-revers);
    height: 64px;
    z-index: 9;
    .inner {
      height: 64px;
      padding: 0 140px;
      margin: auto;
      @include flex(row, center, space-between);
    }
    .item {
      &-area {
        gap: 6px;
        @include flex();
        .myclass {
          font-size: 14px;
          color: var(--text-myclass);
          margin-right: 10px;
          gap: 10px;
          display: inline-flex;
          span {
            &:has(.frequency) {
              filter: var(--text-stroke);
              text-shadow: var(--text-shadow);
            }
          }
          .frequency {
            color: var(--text-base);
            .ico-frequency {
              display: block;
              width: 14px;
              height: 14px;
              margin: 0 auto 2px;
              background: url(../images/ico/ico_frequency.svg);
              background-position: center;
              background-repeat: no-repeat;
              background-size: contain;
            }
            span {
              display: inline-block;
              width: 22px;
              height: 12px;
              border-radius: 25px;
              background-color: var(--text-myclass);
              border: 1px solid rgba(0, 0, 0, 0.4);
              font-size: 10px;
              line-height: 11px;
              font-weight: 900;
              text-align: center;
            }
          }
        }
      }
      &-box {
        position: relative;
        @include flex();

        &:hover {
          .alerts,
          .mypage {
            background-color: var(--bg-nav-alerts-hover);
          }
          .alerts {
            &-area {
              display: block;
            }
          }
        }
      }
    }

    input[type="text"] {
      padding-left: 44px;
      padding-right: 14px;
      width: 185px;
      height: 38px;
      border-radius: 4px;
      border: 1px solid rgba(255, 255, 255, 0.7);
      background: var(--bg-search);
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3) inset;
      filter: drop-shadow(0 0 0 #000);
      &::placeholder {
        color: rgba(0, 0, 0, 0.3);
      }
    }
    .ico-search {
      position: absolute;
      left: 14px;
      top: 12px;
      width: 16px;
      height: 16px;
      @include bgImg("../images/ico/ico_search.svg", contain);
    }

    .alerts,
    .mypage {
      position: relative;
      width: 42px;
      height: 38px;
      border-radius: 4px;
    }
    .alerts {
      background-image: url(../images/ico/ico_alerts.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 22px auto;

      &.on {
        &::after {
          content: " ";
          position: absolute;
          top: 5px;
          right: 7px;
          width: 12px;
          height: 12px;
          border-radius: 50%;
          background: var(--bg-nav-alerts);
        }
      }
      &-area {
        position: absolute;
        top: 0px;
        right: 0;
        width: 238px;
        display: none;
        padding-top: 46px;
      }
      &-list {
        position: relative;
        padding: 20px 12px;
        border-radius: 4px;
        border: 1px solid #188f6b;
        background: var(--bg-nav-depth);
        gap: 24px;
        filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.25));
        z-index: 1;
        /* triangle dimension */
        --a: 55deg; /* angle */
        --h: 16px; /* height */

        --p: 91%; /* triangle position (0%:left 100%:right) */
        --r: 4px; /* the radius */
        --b: 0.05em; /* border width  */
        --c1: #0d6759;
        --c2: #fff;

        padding: 12px;
        border-radius: min(var(--r), var(--p) - var(--h) * tan(var(--a) / 2))
          min(var(--r), 100% - var(--p) - var(--h) * tan(var(--a) / 2)) var(--r)
          var(--r) / var(--r);
        clip-path: polygon(
          0 0,
          0 100%,
          100% 100%,
          100% 0,
          min(100%, var(--p) + var(--h) * tan(var(--a) / 2)) 0,
          var(--p) calc(-1 * var(--h)),
          max(0%, var(--p) - var(--h) * tan(var(--a) / 2)) 0
        );
        background: var(--c1);
        border-image: conic-gradient(var(--c1) 0 0) fill 0/ 0
          max(0%, 100% - var(--p) - var(--h) * tan(var(--a) / 2)) var(--r)
          max(0%, var(--p) - var(--h) * tan(var(--a) / 2)) / var(--h) 0 0 0;
        @include flex(column);
        &:before {
          content: "";
          position: absolute;
          z-index: -1;
          inset: 0;
          padding: var(--b);
          border-radius: inherit;
          clip-path: polygon(
            0 0,
            0 100%,
            100% 100%,
            100% 0,
            min(
                100% - var(--b),
                var(--p) + var(--h) * tan(var(--a) / 2) - var(--b) *
                  tan(45deg - var(--a) / 4)
              )
              var(--b),
            var(--p) calc(var(--b) / sin(var(--a) / 2) - var(--h)),
            max(
                var(--b),
                var(--p) - var(--h) * tan(var(--a) / 2) + var(--b) *
                  tan(45deg - var(--a) / 4)
              )
              var(--b)
          );
          background: var(--c2) content-box;
          border-image: conic-gradient(var(--c2) 0 0) fill 0/ 0
            max(var(--b), 100% - var(--p) - var(--h) * tan(var(--a) / 2))
            var(--r) max(var(--b), var(--p) - var(--h) * tan(var(--a) / 2)) /
            var(--h) 0 0 0;
        }
        dl {
          @include flex(column);
        }
        dt {
          margin-bottom: 4px;
          font-size: 14px;
          font-weight: 700;
          color: var(--text-base);
          @include ellipsis(1);
        }
        dd {
          font-size: 13px;
          color: var(--text-secondary);
          @include ellipsis(4);
        }
        .badge {
          &-danger {
            display: inline-block;
            width: 40px;
            height: 17px;
            border-radius: 2px;
            font-size: 12px;
            text-align: center;
          }
        }
      }
    }
    .mypage {
      background: url(../images/ico/ico_user.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 22px auto;
    }
    .myclass {
      @include flex();
    }
  }

  &-group {
    .depth01 {
      gap: 24px;
      font-size: 17px;
      font-weight: 700;
      @include flex();
      > li {
        min-width: 130px;
        height: 64px;
        position: relative;
        @include flex();
        &:hover,
        &.active {
          > a {
            color: #000;
            filter: none;
            text-shadow: none;
          }

          border-radius: 8px 8px 0 0;
          background: var(--bg-nav-depth);
          filter: drop-shadow(0 12px 24px rgba(0, 0, 0, 0.1));
          &:has(.depth02) {
            &::before,
            &::after {
              content: " ";
              position: absolute;
              bottom: 0px;
              width: 16px;
              height: 16px;
              background-color: #fff;
            }
            &::before {
              left: -16px;
              mask: radial-gradient(16px at 0 0, #0000 98%, #000);
            }
            &::after {
              right: -16px;
              mask: radial-gradient(16px at 100% 0, #0000 98%, #000);
            }
          }
        }
        &:hover {
          .depth02 {
            @include flex();
          }
        }
        > a {
          filter: var(--text-stroke);
          text-shadow: var(--text-shadow);
        }
        .state-box {
          position: absolute;
          left: 50%;
          bottom: 4px;
          translate: -50% 0;
          @include flex();
          .unit {
            padding: 0px 8px;
            font-size: 14px;
            height: 16px;
            line-height: 14px;
            font-weight: 700;
            border-radius: 14px;
            background: var(--bg-lecture-state);
            border: 1px solid rgba(0, 0, 0, 0.2);
            small {
              font-size: 12px;
              font-weight: 400;
            }
          }
          .progress {
            display: inline-block;
            width: 78px;
            height: 4px;
            border-radius: 0 4px 4px 0;
            background: var(--bg-lecture-progress-primary);
            &-bar {
              display: block;
              min-width: 9px;
              height: 100%;
              border-radius: inherit;
              background: var(--bg-lecture-progress-secondary);
              transition: width 0.3s ease-out;
            }
          }
        }
      }
    }
    .depth02 {
      position: absolute;
      top: 62px;
      background: var(--bg-nav-depth);
      color: var(--text-base);
      font-size: 16px;
      font-weight: 400;
      border-radius: 8px;
      padding: 8px 26px 18px;
      gap: 48px;

      display: none;
      li {
        position: relative;
        white-space: nowrap;
        &:not(:last-child) {
          &::after {
            content: " ";
            position: absolute;
            right: -24px;
            top: 0;
            width: 1px;
            height: 100%;
            background: var(--border-base);
          }
        }

        a {
          gap: 8px;
          @include flex(column);
        }
        .ico-box {
          width: 60px;
          aspect-ratio: 1 / 1;
        }
      }
    }
  }
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: calc(var(--window-inner-height) - 64px);
  overflow: auto;
  z-index: 1;
  border-radius: 30px 30px 0 0;
  background: var(--bg-primary);
}
