@charset "UTF-8";

@use "base" as *;

// html.is-locked,
html {
  scroll-behavior: smooth;
  &.is-locked {
    body {
      height: calc(var(--window-inner-height) - 1px);
      overflow: hidden;
      box-sizing: border-box;
    }
    #wrap {
      position: fixed;
    }
  }
  body {
    margin: 0;
    padding: 0;
  }
}

/* common */
.wrap {
  position: relative;
  min-height: var(--window-inner-height);
  background: var(--bg-main);
  background-attachment: fixed;
  overflow: hidden;
  /*
  &:not(.intro) {
    &::after {
      content: " ";
      position: fixed;
      left: 0;
      top: 64px;
      display: block;
      width: 100%;
      height: 46px;
      border-top: 2px solid #f3dba8;
      border-radius: 30px 30px 0 0;
      background: var(--bg-primary);
      box-shadow: 0 -9px 6.3px 0 rgba(0, 0, 0, 0.5);
    }
  }*/
}

.inner {
  //max-width: 1380px;
  // padding: 0 60px;
  //margin: 0 auto;
}

.header {
  h1 {
    width: 95px;
    height: 25px;
    background: url(../images/logo.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    @include textBlind();
  }
}

.nav {
  filter: var(--text-stroke);
  text-shadow: var(--text-shadow);
  &-wrap {
    width: 100%;
    background: var(--bg-nav);
    color: var(--text-revers);
    height: 64px;

    .inner {
      height: 64px;
      padding: 0 140px;
      margin: auto;
      @include flex(center, space-between);
    }
    .item-area {
      gap: 6px;
      @include flex();
      .myclass {
        font-size: 14px;
        color: var(--text-myclass);
        margin-right: 10px;
        gap: 10px;
        display: inline-flex;
        span {
          &:has(.frequency) {
            filter: var(--text-stroke);
            text-shadow: var(--text-shadow);
          }
        }
        .frequency {
          color: var(--text-base);
          .ico-frequency {
            display: block;
            width: 14px;
            height: 14px;
            margin: 0 auto 2px;
            background: url(../images/ico/ico_frequency.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
          }
          span {
            display: inline-block;
            width: 22px;
            height: 12px;
            border-radius: 25px;
            background-color: var(--text-myclass);
            border: 1px solid rgba(0, 0, 0, 0.4);
            font-size: 10px;
            line-height: 11px;
            font-weight: 900;
            text-align: center;
          }
        }
      }
    }

    input[type="text"] {
      padding-left: 44px;
      padding-right: 14px;
      width: 185px;
      height: 38px;
      border-radius: 4px;
      border: 1px solid rgba(255, 255, 255, 0.7);
      background: var(--bg-search);
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3) inset;
      filter: drop-shadow(0 0 0 #000);
      &::placeholder {
        color: rgba(0, 0, 0, 0.3);
      }
    }
    .ico-search {
      position: absolute;
      left: 14px;
      top: 12px;
      width: 16px;
      height: 16px;
      background: url(../images/ico/ico_search.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
    .alerts,
    .mypage {
      width: 42px;
      height: 42px;
    }
    .alerts {
      background: url(../images/ico/ico_alerts.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 22px auto;
    }
    .mypage {
      background: url(../images/ico/ico_user.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 22px auto;
    }
    .myclass {
      @include flex();
    }
  }

  &-group {
    .depth01 {
      gap: 84px;
      font-size: 17px;
      font-weight: 700;
      @include flex();
    }
  }
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: calc(var(--window-inner-height) - 64px);
  overflow: auto;
  z-index: 1;
  border-radius: 30px 30px 0 0;
  background: var(--bg-primary);
}
