@charset "UTF-8";

@use "base" as *;

.learning {
  .container {
    background:
      radial-gradient(
        93.89% 93.89% at 49.32% 6.11%,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.11) 86.06%,
        rgba(134, 114, 77, 0.2) 88.94%
      ),
      linear-gradient(180deg, #f9f6f0 0%, #e6ddcc 100%);

    box-shadow: 0 -2px 3px 0 rgba(0, 0, 0, 0.5);
  }
  .page-title {
    padding-top: 74px;
    text-align: center;
  }

  .puzzle {
    &-wrap {
      position: relative;
      width: 100%;
      height: calc(var(--window-inner-height) - 64px);
      padding: 0 32px;
      @include flex(column, center, flex-start);
    }
    &-area {
      position: relative;
      width: 100%;
      max-width: 1862px;
      flex-grow: 1;
      @include flex(row, center, center);
    }
    &-board {
      position: relative;
      width: 100%;
      svg {
        width: 100%;
        height: auto;
        display: block;
        text {
        }
      }

      .img-box {
        position: absolute;
        &.family {
          width: 11.9226%;
          left: 3.9742%;
          top: -3.35365%;
        }

        &.hanmac {
          width: 13.4264%;
          top: -8.2317%;
          right: 3.54457%;
        }
        &.value {
          width: 9.23737%;
          left: -1.61117%;
          bottom: -4.87804%;
        }
        &.company {
          width: 16.86358%;
          right: -4.7261%;
          bottom: -8.07926%;
        }
      }
      .tit-box {
        position: absolute;
        font-size: 27px;
        font-weight: 700;
        &.family {
          color: #7ed29b;
          left: 9.66702%;
          top: 22.10365%;
        }

        &.hanmac {
          color: #ffccca;
          top: 22.10365%;
          right: 7.41138%;
        }
        &.value {
          color: #87a7d6;
          left: 8.05585%;
          bottom: 10.51829%;
        }
        &.company {
          color: #b49a65;
          right: 8.05585%;
          bottom: 21.3414%;
        }
      }
    }

    &-piece {
      &-group {
        cursor: pointer;
        &:hover {
          .piece-overlay-hover {
            fill-opacity: 0.3;
          }
        }
        &.completed {
          .piece-overlay-base {
            fill: white;
            fill-opacity: 0.6;
          }
        }
        &:not(.completed) {
          &[data-piece="1"],
          &[data-piece="6"] {
            .piece-overlay-base {
              fill: #1d375d;
              fill-opacity: 0.2;
            }
          }

          &[data-piece="2"],
          &[data-piece="3"],
          &[data-piece="4"],
          &[data-piece="5"] {
            .piece-overlay-base {
              fill: #662a0d;
              fill-opacity: 0.2;
            }
          }

          &[data-piece="7"],
          &[data-piece="8"] {
            .piece-overlay-base {
              fill: #5b4822;
              fill-opacity: 0.2;
            }
          }

          &[data-piece="9"],
          &[data-piece="10"] {
            .piece-overlay-base {
              fill: #2a5338;
              fill-opacity: 0.2;
            }
          }
        }
      }
      &-overlay {
        &-base {
          fill: white;
          fill-opacity: 0;
          transition: all 0.3s ease;
        }
        &-hover {
          fill: black;
          fill-opacity: 0;
          transition: all 0.3s ease;
          pointer-events: none;
        }
      }
    }
  }
}
