@charset "UTF-8";

@use "base" as *;

// =======================================
// Variables
// =======================================
$learning-height: calc(var(--window-inner-height) - 64px);
$gauge-base-width: 1610px;

// Note: Colors are now managed via CSS variables in _root.scss

// Sizes
$chapter-widths: (
  base: 160px,
  base-4: 150px,
  base-5: 140px,
  completed: 200px,
  current: 328px,
);

// =======================================
// Mixins
// =======================================
@mixin learning-container {
  position: relative;
  width: 100%;
  height: $learning-height;
  padding: 0 32px;
  overflow: hidden;
  @include flex(column, center, flex-start);
}

@mixin chapter-width($size) {
  width: calc(($size / $gauge-base-width) * 100%);
}

@mixin card-tail($color, $size: 15px, $border-size: 10px) {
  &::after {
    content: "";
    position: absolute;
    bottom: -#{$size};
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: #{$border-size} solid transparent;
    border-right: #{$border-size} solid transparent;
    border-top: #{$size} solid $color;
  }
}

@mixin puzzle-img-box(
  $width,
  $left: null,
  $top: null,
  $right: null,
  $bottom: null
) {
  position: absolute;
  z-index: 1;
  pointer-events: none;
  width: $width;
  @if $left {
    left: $left;
  }
  @if $top {
    top: $top;
  }
  @if $right {
    right: $right;
  }
  @if $bottom {
    bottom: $bottom;
  }
}

@mixin puzzle-title(
  $color,
  $left: null,
  $top: null,
  $right: null,
  $bottom: null
) {
  position: absolute;
  font-size: 1.25vw;
  font-weight: 700;
  z-index: 1;
  color: $color;
  @if $left {
    left: $left;
  }
  @if $top {
    top: $top;
  }
  @if $right {
    right: $right;
  }
  @if $bottom {
    bottom: $bottom;
  }
}

// =======================================
// Wrap Styles
// =======================================
.wrap {
  &.lessons {
    .container {
      position: relative;
      overflow: hidden;

      &::before {
        @include pseudo(block, absolute, " ");
        left: 0;
        top: 0;
        width: 100%;
        height: 50%;
        @include bgImg("../images/learning/bg_cloud.png", 100% 100%, 0px 0px);
        pointer-events: none;
        mask-image: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 1) 0%,
          rgba(0, 0, 0, 0) 100%
        );
      }
    }
  }
}

// =======================================
// Page Title Styles
// =======================================
.lessons,
.onboarding {
  .page-title {
    padding-top: 74px;
    text-align: center;

    p {
      font-size: 40px;
      font-weight: 400;

      &.fw-b {
        font-weight: 700;
      }

      em {
        font-weight: 700;
        color: var(--text-title-accent);
      }

      small {
        font-size: 32px;
        font-weight: 400;
      }
    }

    h3 {
      font-size: 32px;
      font-weight: 300;

      span {
        font-weight: 400;
      }

      em {
        font-weight: 500;
      }
    }
  }
}

// =======================================
// Onboarding Styles
// =======================================
.onboarding {
  .container {
    background:
      radial-gradient(
        93.89% 93.89% at 49.32% 6.11%,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.11) 86.06%,
        rgba(134, 114, 77, 0.2) 88.94%
      ),
      linear-gradient(180deg, #f9f6f0 0%, #e6ddcc 100%);
    box-shadow: 0 -2px 3px 0 rgba(0, 0, 0, 0.5);
  }

  .puzzle {
    &-wrap {
      @include learning-container;
    }

    &-area {
      position: relative;
      width: 100%;
      flex-grow: 1;
      @include flex(row, center, center);
    }

    &-board {
      position: relative;
      width: 90%;
      margin-top: -4%;

      svg {
        width: 100%;
        height: auto;
        display: block;
        transform: perspective(794px) rotateX(6deg);
        transform-origin: bottom;
      }

      .img-box {
        &.family {
          @include puzzle-img-box(14.07089%, $left: 0.75187%, $top: 5.03778%);
        }

        &.hanmac {
          @include puzzle-img-box(13.4264%, $top: 3.77833%, $right: 2.68528%);
        }

        &.value {
          @include puzzle-img-box(
            9.23737%,
            $left: -1.61117%,
            $bottom: -4.87804%
          );
        }

        &.company {
          @include puzzle-img-box(
            12.88936%,
            $right: -2.68528%,
            $bottom: -8.07926%
          );
        }
      }

      .tit-box {
        &.family {
          @include puzzle-title(
            var(--bg-puzzle-family),
            $left: 8.2706%,
            $top: 31.1083%
          );
        }

        &.hanmac {
          @include puzzle-title(
            var(--bg-puzzle-hanmac),
            $top: 31.1083%,
            $right: 6.44468%
          );
          opacity: 0.45;
        }

        &.value {
          @include puzzle-title(
            var(--bg-puzzle-value),
            $left: 8.05585%,
            $bottom: 10.51829%
          );
        }

        &.company {
          @include puzzle-title(
            var(--bg-puzzle-company),
            $right: 8.05585%,
            $bottom: 15.1133%
          );
        }
      }
    }

    &-piece {
      &-group {
        cursor: pointer;

        &:hover {
          .piece-overlay-hover {
            fill-opacity: 0.3;
          }
        }

        &.completed {
          .piece-overlay-base {
            fill: white;
            fill-opacity: 0.6;
          }

          .gauge-fill-line {
            stroke-dashoffset: 0 !important;
          }
        }

        &:not(.completed) {
          &[data-piece="1"],
          &[data-piece="6"] {
            .piece-overlay-base {
              fill: var(--bg-piece-1);
              fill-opacity: 0.2;
            }
          }

          &[data-piece="2"],
          &[data-piece="3"],
          &[data-piece="4"],
          &[data-piece="5"] {
            .piece-overlay-base {
              fill: var(--bg-piece-2);
              fill-opacity: 0.2;
            }
          }

          &[data-piece="7"],
          &[data-piece="8"] {
            .piece-overlay-base {
              fill: var(--bg-piece-3);
              fill-opacity: 0.2;
            }
          }

          &[data-piece="9"],
          &[data-piece="10"] {
            .piece-overlay-base {
              fill: var(--bg-piece-4);
              fill-opacity: 0.2;
            }
          }
        }
      }

      &-overlay {
        &-base {
          fill: white;
          fill-opacity: 0;
          @include transition(all, 0.3s, ease);
        }

        &-hover {
          fill: black;
          fill-opacity: 0;
          @include transition(all, 0.3s, ease);
          pointer-events: none;
        }
      }
    }
  }
}

// =======================================
// Completion Styles
// =======================================
.completion {
  &-animation {
    &-container {
      svg {
        transform: perspective(794px) rotateX(6deg);
        transform-origin: bottom;
      }
    }
  }
}

// =======================================
// Lessons Styles
// =======================================
.lessons {
  &-wrap {
    @include learning-container;
    z-index: 2;
  }

  &-area {
    position: relative;
    width: 100%;
    flex-grow: 1;
    @include bgImg("../images/learning/bg_grid.svg", auto, center);
    padding-top: 3%;
    @include flex();
  }

  &-gauge {
    text-align: center;
    width: 84.427%;
    margin: auto;
    translate: 4% 0;

    svg {
      width: 100%;
      height: auto;
    }
  }

  .start-line {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 3.91304%;
    translate: -8% -32%;
  }

  #markers-container {
    translate: none;
  }

  .marker {
    position: absolute;
    cursor: pointer;

    &[data-type="chapter"] {
      width: 2.4676%;
      transform: scale(1.4);

      &::before,
      &::after {
        @include pseudo(block, absolute, "");
        aspect-ratio: 1 / 1;
        top: 50%;
        left: 50%;
        translate: -50% -100%;
        mix-blend-mode: multiply;
        z-index: 9;
      }

      &::before {
        width: 25%;
        filter: blur(2px);
        opacity: 0.4;
      }

      &::after {
        width: 15%;
        filter: blur(0.7px);
        opacity: 0.2;
      }

      &.current {
        &::before,
        &::after {
          background-color: var(--bg-chapter-current);
        }
      }

      &.completed {
        &::before,
        &::after {
          background-color: var(--bg-chapter-completed);
        }
      }
    }

    &[data-type="normal"] {
      width: 2.3442%;
      translate: 0 -40%;

      &.current {
        transform: scale(1.6) !important;
      }
    }

    // Marker positioning
    &:first-child {
      translate: 0 -80%;
    }

    &:nth-child(n + 2):nth-child(-n + 9) {
      translate: 0 -90%;
      transform: scale(1.2);
    }

    &:nth-child(n + 11):nth-child(-n + 12),
    &:nth-child(n + 14):nth-child(-n + 15) {
      transform: scale(1.2);
    }

    &:nth-child(10),
    &:nth-child(13) {
      translate: 0 -50%;
    }

    &:nth-child(16),
    &:nth-child(19) {
      translate: 0 -60%;
      transform: scale(1);
    }

    &:nth-child(n + 17):nth-child(-n + 18) {
      translate: 0 -60%;
      transform: scale(1.1);
    }

    &:nth-child(n + 20):nth-child(-n + 25) {
      translate: 0 -60%;
    }

    &:nth-child(n + 22):nth-child(-n + 24) {
      transform: scale(0.9);
    }

    &:nth-child(25) {
      transform: scale(0.8);
    }
  }
  .chapter {
    &-list {
      pointer-events: none;

      li {
        position: absolute;
        @include transition(all, 0.3s, ease);
        pointer-events: auto;

        &:not(.completed, .current) {
          filter: grayscale(100%);

          @for $i from 1 through 3 {
            &:nth-child(#{$i}) {
              @include chapter-width(map-get($chapter-widths, base));
            }
          }

          &:nth-child(4) {
            @include chapter-width(map-get($chapter-widths, base-4));
          }

          &:nth-child(5) {
            @include chapter-width(map-get($chapter-widths, base-5));
          }
        }

        &.completed {
          @include chapter-width(map-get($chapter-widths, completed));

          svg {
            animation: bounce 0.5s ease;
          }
        }

        &.current {
          @include chapter-width(map-get($chapter-widths, current));

          svg {
            animation: bounce 0.5s ease;
          }
        }

        svg {
          width: 100%;
          height: auto;
          display: block;
          filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.2));
        }
      }
    }
    &-card {
      position: relative;
      @include transition(all, 0.3s, ease);

      &-inner {
        position: relative;
        background: white;
        border-radius: 8px;
        padding: 0;
        @include transition(all, 0.3s, ease);

        &::after {
          @include pseudo(block, absolute, "");
          bottom: -14px;
          left: 50%;
          transform: translateX(-50%);
          width: 0;
          height: 0;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          border-top: 15px solid white;
          filter: drop-shadow(0 4px 2px rgba(0, 0, 0, 0.05));
        }
      }

      // Base state (gray)
      &.base {
        .chapter-card-inner {
          border-radius: 8px;
          background: linear-gradient(
              180deg,
              rgba(74, 74, 74, 0) 50%,
              rgba(74, 74, 74, 0.2) 100%
            )
            #fff;

          &::after {
            border-top-color: #d9d9d9;
          }
        }

        .card-title {
          font-size: 14px;
          color: var(--bg-card-base);
        }
      }

      // Current state (green)
      &.current {
        .chapter-card-inner {
          border-radius: 14px;
          border: 3px solid var(--bg-card-current-border);
          background: linear-gradient(
              180deg,
              rgba(31, 155, 118, 0) 50%,
              rgba(31, 155, 118, 0.2) 100%
            )
            #fff;

          &::after {
            border-top-color: var(--bg-card-current-bg);
            border-top-width: 18px;
            border-left-width: 14px;
            border-right-width: 14px;
            bottom: -16px;
          }

          &::before {
            @include pseudo(block, absolute, "");
            border-top-color: var(--bg-card-current-border);
            border-top-width: 18px;
            border-left-width: 16px;
            border-right-width: 16px;
            bottom: -18px;
            width: 0;
            height: 0;
            left: 50%;
            transform: translateX(-50%);
            border-left-color: transparent;
            border-right-color: transparent;
          }
        }

        .card-title {
          font-size: 24px;
          padding: 8px 0;
          color: var(--bg-card-current);
        }

        .card-play-button {
          width: calc(54px / 328px * 100%);
        }
      }

      // Completed state (beige/orange)
      &.completed {
        @for $i from 2 through 5 {
          &:nth-child(#{$i}) {
            .chapter-card-inner {
              &::before {
                transform: scale(1 + ($i - 1) * 0.1);
              }
            }
          }
        }

        .chapter-card-inner {
          border-radius: 10px;
          background: linear-gradient(
              270deg,
              rgba(255, 255, 255, 0.9) 31%,
              rgba(234, 215, 204, 0.9) 100%
            )
            #fff;

          &::before {
            @include pseudo(block, absolute, " ");
            top: 0;
            right: 0;
            translate: 50% -30%;
            width: 60px;
            aspect-ratio: 1 / 1;
            @include bgImg("../images/learning/img_stamp.svg", contain, center);
            z-index: 1;
          }

          &::after {
            border-top-color: #f9f4f1;
          }
        }

        .card-thumbnail-container {
          position: relative;

          &::after {
            @include pseudo(block, absolute, " ");
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(
              0deg,
              rgba(138, 141, 115, 0.3) 0%,
              rgba(138, 141, 115, 0.3) 100%
            );
          }
        }

        .card-title {
          font-size: 20px;
          color: var(--bg-card-completed);
        }

        .card-play-button {
          width: calc(38px / 200px * 100%);
        }
      }
      .card {
        &-thumbnail {
          width: 100%;
          height: auto;
          display: block;

          &-container {
            position: relative;
            width: 100%;
            border-radius: inherit;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            overflow: hidden;
          }
        }

        &-title {
          text-align: center;
          font-weight: 700;
          padding: 4px 0;
          @include transition(color, 0.3s, ease);
        }
      }

      .card-gauge {
        &-bar {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 3px;
          background-color: #fff;
          box-shadow: 1.234px 1.234px 1.234px 0 rgba(0, 0, 0, 0.3) inset;
        }

        &-fill {
          position: absolute;
          bottom: 0;
          left: 0;
          height: 3px;
          background-color: var(--bg-gauge-fill);
          box-shadow: 0.922px 0.922px 0.922px 0 var(--shadow-gauge-inset) inset;
        }
      }

      .shadow-effect {
        position: absolute;
        width: 80%;
        height: 10px;
        left: 50%;
        bottom: -20%;
        translate: -50% -50%;

        &::before,
        &::after {
          @include pseudo(block, absolute, "");
          left: 50%;
          transform: translateX(-50%);
          background: var(--bg-shadow);
          border-radius: 50%;
          mix-blend-mode: multiply;
          opacity: 0.2;
        }

        &::before {
          width: 100%;
          height: 10px;
          top: 4px;
          filter: blur(4px);
          background: var(--bg-shadow);
        }

        &::after {
          width: 80%;
          height: 4px;
          top: 8px;
          filter: blur(2px);
          background: var(--bg-shadow);
        }
      }

      .card-play-button {
        @include center-absolute;
        width: calc(39px / 160px * 100%);
        height: auto;
        @include transition(transform, 0.2s, ease);
        z-index: 2;
      }
    }
  }

  .progress {
    &-indicator {
      @include chapter-width(131px);
      height: auto;

      &.completed {
        @include chapter-width(140px);
      }

      svg {
        overflow: visible;
      }
    }
  }
}
