:root {
  /* text */
  --text-intro-base: #1b1810;
  --text-base: #131313;
  --text-revers: #fff;
  --text-primary: #3c3321;
  --text-secondary: #747474;
  --text-accent: #ff5c00;
  --text-myclass: #ffdf60;
  --text-main-primary: #4a4040;
  --text-main-secondary: #3a200d;

  --text-pick: #2b5045;
  --text-keyword-base: #c4c2c0;
  --text-keyword-primary: #fff;
  --text-keyword-secondary: #ac9f8f;

  --text-video-primary: #b6d5a7;
  --text-video-secondary: #ddd;

  --text-cate-primary: #edd8c2;
  --text-cate-secondary: #b6d5a7;
  --text-cate-tertiary: #e8cfe4;

  --text-comment-primary: #fff;
  --text-comment-secondary: #8d8d8d;

  --text-learning-base: #8d8888;
  --text-learning-primary: #ff5c00;
  --text-learning-secondary: #008c49;

  /* 배경 */
  //--bg-base: #f6f1e9;
  --bg-base: #e4ddcf;
  --bg-primary: #ece3d2;
  --bg-secondary:
    radial-gradient(
      93.89% 93.89% at 49.32% 6.11%,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.11) 86.06%,
      rgba(134, 114, 77, 0.2) 88.94%
    ),
    linear-gradient(180deg, #f9f6f0 0%, #e6ddcc 100%);

  --bg-main-card: rgba(255, 255, 255, 0.6);

  --bg-intro-mask: #1b1810;
  --bg-intro: linear-gradient(
    180deg,
    #f9f5f2 0%,
    #fff 18.77%,
    #fff 41.8%,
    #ece8e4 100%
  );
  --bg-main:
    linear-gradient(
        90deg,
        #0f3025 0%,
        #194335 38%,
        #0b221b 87.51%,
        #0d231c 100%
      )
      top / 100% 114px no-repeat,
    #ece3d2;
  --bg-video: #1b1b1b;
  --bg-comment: #2a2a2a;
  --bg-nav: linear-gradient(
    90deg,
    #0f3025 0%,
    #194335 38%,
    #0b221b 87.51%,
    #0d231c 100%
  );
  --bg-nav-depth: #fff;
  --bg-nav-alerts: #ff2200;
  --bg-nav-alerts-hover: #188f6b;

  --bg-cate-primary: #ded7cf;
  --bg-cate-secondary: #d4decf;
  --bg-cate-tertiary: #e8cfe4;

  --bg-pick: linear-gradient(180deg, rgba(255, 255, 255, 0.8) 0%, #d5ede6 100%);
  --bg-gauge-base: #b4b4b4;
  --bg-gauge-primary: #ff5c00;
  --bg-search: #e4dbc9;

  --bg-keyword-base: rgba(230, 205, 177, 0.3);
  --bg-keyword-primary: #e47703;
  --bg-keyword-primary-hover: #e6cdb1;
  --bg-keyword-secondary: #786c60;
  --bg-keyword-secondary-hover: #dcd3c9;

  --bg-lecture-state: linear-gradient(270deg, #00ab66 0%, #058bb0 100%);
  --bg-lecture-progress-primary: rgba(3, 9, 7, 0.3);
  --bg-lecture-progress-secondary: #07855c;

  --bg-btn-base: #000;
  --bg-btn-primary: #ff5c00;
  --bg-btn-secondary: #1f1f1f;

  /* border */
  --border-base: rgba(0, 0, 0, 0.05);
  --border-primary: #fff;

  //--border-search: ;
  --border-keyword-base: rgba(0, 0, 0, 0.05);
  --border-keyword-primary: rgba(255, 255, 255, 0.4);
  --border-keyword-primary-hover: rgba(0, 0, 0, 0.05);
  --border-keyword-secondary: rgba(255, 255, 255, 0.4);
  --border-keyword-secondary-hover: rgba(0, 0, 0, 0.1);
  --border-pick: rgba(255, 255, 255, 0.5);
  --border-video: rgba(255, 255, 255, 0.1);

  --border-btn: rgba(255, 255, 255, 0.2);

  /* drop */
  --text-shadow:
    -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  --text-stroke: drop-shadow(0 0 0.5px #000);
}
