@charset "UTF-8";

@use "base" as *;
@forward "import/typography";
@forward "import/lib-fonts";
@forward "import/reset-css";
@forward "_icon";
@forward "_animation";

/* 스크롤바 스타일 */
::-webkit-scrollbar {
  height: 10px;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  background-color: #443b27;
  border-radius: 8px;
  background-clip: padding-box;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}
::-webkit-scrollbar-track {
  background-color: #000;
}

/* clearfix */
.clearfix {
  /* IE 지원 방식 : *zoom: 1;*/
  &:before,
  &:after {
    content: "";
    display: block;
  }
  &:after {
    clear: both;
  }
}

/* hidden */
.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  white-space: nowrap;
}

.hidden,
.d-none {
  display: none !important;
}

[class*="gra"] {
  position: relative;
  &::before,
  &::after {
    content: "";
    position: absolute;
    border-radius: inherit;
    pointer-events: none;
  }
  &::after {
    inset: 0;
    padding: 1px;
    mask: var(--mask-contents);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }
}

/* 입력창 */
.input {
  &-group {
    position: relative;
    @include flex();
    .btn-clear {
      position: absolute;
      top: 50%;
      right: 16px;
      translate: 0 -50%;
    }
  }
}

/* 키워드 */
[class^="keyword"] {
  flex-wrap: wrap;
  gap: 9px;
  @include flex();

  &[class*="list"] {
    max-width: 470px;
  }
  &[class*="tag"] {
    label {
      &:has(:checked) {
        color: var(--text-keyword-primary);
        background: var(--bg-keyword-primary);
        border: 1px solid var(--border-keyword-primary);
      }
    }
  }

  label {
    position: relative;
    display: block;
    min-width: 52px;
    padding: 12px 9px;
    border-radius: 24px;
    color: var(--text-keyword-base);
    background: var(--bg-keyword-base);
    border: 1px solid var(--border-keyword-base);
    font-weight: 500;
    line-height: 1;
    //cursor: pointer;
    &:has(+ [type="checkbox"]:checked) {
      color: var(--text-keyword-secondary);
      background: var(--bg-keyword-primary-hover);
      border: 1px solid var(--border-keyword-primary-hover);
      &:has(:checked) {
        color: var(--text-keyword-primary);
        background: var(--bg-keyword-primary);
        border: 1px solid var(--border-keyword-primary);
      }
    }
    input {
      &[type="checkbox"] {
        position: absolute;
        width: 0;
        height: 0;
        opacity: 0;
      }
    }
  }
  .kw {
    &-box {
      position: relative;
    }
    &-allow {
      color: var(--text-keyword-secondary);
      background: var(--bg-keyword-primary-hover);
      border: 1px solid var(--border-keyword-primary-hover);
      &:has(:checked) {
        color: var(--text-keyword-primary);
        background: var(--bg-keyword-primary);
        border: 1px solid var(--border-keyword-primary);
      }
    }
    &-deny {
      color: var(--text-keyword-secondary);
      background: var(--bg-keyword-secondary-hover);
      border: 1px solid var(--border-keyword-secondary-hover);
      &:has(:checked) {
        color: var(--text-keyword-primary);
        background: var(--bg-keyword-secondary);
        border: 1px solid var(--border-keyword-secondary);
      }
    }
    &-add {
      position: absolute;
      top: -2px;
      right: 0px;
      width: 14px;
      height: 14px;
      -webkit-appearance: none;
      border-radius: 50%;
      background-image: url(../images/ico/ico_add.svg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      &:checked {
        background-image: url(../images/ico/ico_remove.svg);
      }
    }
  }
}

/* 뱃지 */
.badge {
  &-danger {
    border-radius: 4px;
    color: var(--text-keyword-primary);
    background: var(--bg-nav-alerts);
    text-align: center;
  }
}

/* 모달 */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: auto;
  z-index: 30;

  .modal-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #f6f1e9;
    padding: 40px 20px 20px 20px;
    border: 1px solid #888;
    width: 470px;
    min-height: 500px;
    border-radius: 8px;
    text-align: center;
  }

  .close {
    color: #000;
    float: right;
    font-size: 26px;
    font-weight: bold;
    position: absolute;
    right: 12px;
    top: 12px;
    display: block;
    margin-left: auto;
    width: 26px;
    height: 26px;
    background: none;
    line-height: 1;
    filter: var(--text-shadow);
    transition: all 0.1s ease-in-out;
    &:hover,
    &:focus {
      color: #e00400;
      text-decoration: none;
      cursor: pointer;
      text-shadow: var(--text-stroke);
    }
  }
}

/* media query */
// 3840px 초과: 4K 이상
@media all and (min-width: 3841px) {
  html {
    font-size: 20px;
  }
}
// 3200px 초과 ~ 3840px: 4K 디스플레이
@media all and (min-width: 3201px) and (max-width: 3840px) {
  html {
    font-size: 18px;
  }
}
// 2560px 초과 ~ 3200px: 매우 큰 데스크톱
@media all and (min-width: 2561px) and (max-width: 3200px) {
  html {
    font-size: 16px;
  }
}

// 1920px 초과 ~ 2560px: 큰 데스크톱
@media all and (min-width: 1921px) and (max-width: 2560px) {
  html {
    font-size: 14px;
  }
}

// 1024px ~ 1920px: 기본 데스크톱
@media all and (min-width: 1024px) and (max-width: 1920px) {
  html {
    font-size: 10px;
  }
}

// 1023px 이하: 태블릿
@media all and (max-width: 1023px) {
  html {
    font-size: 14px;
  }
}

// 767px 이하
@media all and (max-width: 767px) {
  html {
    font-size: 13px;
  }
}

// 639px 이하
@media all and (max-width: 639px) {
  html {
    font-size: 12px;
  }
}

// 479px 이하
@media all and (max-width: 479px) {
  html {
    font-size: 10px;
  }
}

// 359px 이하
@media all and (max-width: 359px) {
  html {
    font-size: 9px;
  }
}

// 319px 이하
@media all and (max-width: 319px) {
  html {
    font-size: 8px;
  }
}
