@charset "UTF-8";

@use "base" as *;
@forward "import/typography";
@forward "import/lib-fonts";
@forward "import/reset-css";
@forward "_icon";
@forward "_animation";

/* 스크롤바 스타일 */
::-webkit-scrollbar {
  height: 10px;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  background-color: #443b27;
  border-radius: 8px;
  background-clip: padding-box;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}
::-webkit-scrollbar-track {
  background-color: #000;
}

/* clearfix */
.clearfix {
  /* IE 지원 방식 : *zoom: 1;*/
  &:before,
  &:after {
    content: "";
    display: block;
  }
  &:after {
    clear: both;
  }
}

/* hidden */
.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  white-space: nowrap;
}

.hidden,
.d-none {
  display: none !important;
}

[class*="gra"] {
  position: relative;
  &::before,
  &::after {
    content: "";
    position: absolute;
    border-radius: inherit;
    pointer-events: none;
  }
  &::after {
    inset: 0;
    padding: 1px;
    mask: var(--mask-contents);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }
}

/* 입력창 */
.input {
  &-group {
    position: relative;
    @include flex();
    .btn-clear {
      position: absolute;
      top: 50%;
      right: 16px;
      translate: 0 -50%;
    }
  }
}

.checkbox {
  position: relative;
  input[type="checkbox"] {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
  }
}

/* 버튼 */

/* 키워드 */
[class^="keyword"] {
  flex-wrap: wrap;
  gap: 8px;
  @include flex();

  &[class*="list"] {
    max-width: 470px;
  }
  &[class*="tag"] {
    label {
      &:has(:checked) {
        color: var(--text-keyword-primary);
        background: var(--bg-keyword-primary);
        border: 1px solid var(--border-keyword-primary);
      }
    }
  }

  label {
    position: relative;
    display: block;
    min-width: 52px;
    padding: 12px 9px;
    border-radius: 24px;
    color: var(--text-keyword-base);
    background: var(--bg-keyword-base);
    border: 1px solid var(--border-keyword-base);
    font-weight: 500;
    line-height: 1;
    //cursor: pointer;
    &:has(+ [type="checkbox"]:checked) {
      color: var(--text-keyword-secondary);
      background: var(--bg-keyword-primary-hover);
      border: 1px solid var(--border-keyword-primary-hover);
      &:has(:checked) {
        color: var(--text-keyword-primary);
        background: var(--bg-keyword-primary);
        border: 1px solid var(--border-keyword-primary);
      }
    }
    input {
      &[type="checkbox"] {
        position: absolute;
        width: 0;
        height: 0;
        opacity: 0;
      }
    }
  }
  .kw {
    &-box {
      position: relative;
      label {
        &::after {
          content: " ";
          position: absolute;
          top: -2px;
          right: 0px;
          width: 14px;
          height: 14px;
          -webkit-appearance: none;
          border-radius: 50%;
          background-image: url(../images/ico/ico_add.svg);
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
        }
        &:has(:checked) {
          &::after {
            background-image: url(../images/ico/ico_remove.svg);
          }
        }
      }
    }
    &-allow {
      color: var(--text-keyword-secondary);
      background: var(--bg-keyword-primary-hover);
      border: 1px solid var(--border-keyword-primary-hover);
      &:has(:checked) {
        color: var(--text-keyword-primary);
        background: var(--bg-keyword-primary);
        border: 1px solid var(--border-keyword-primary);
      }
    }
    &-deny {
      color: var(--text-keyword-secondary);
      background: var(--bg-keyword-secondary-hover);
      border: 1px solid var(--border-keyword-secondary-hover);
      &:has(:checked) {
        color: var(--text-keyword-primary);
        background: var(--bg-keyword-secondary);
        border: 1px solid var(--border-keyword-secondary);
      }
    }
  }
}

/* 뱃지 */
.badge {
  &-danger {
    border-radius: 4px;
    color: var(--text-keyword-primary);
    background: var(--bg-nav-alerts);
    text-align: center;
  }
}

/* 모달 */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: auto;
  z-index: 30;

  .modal-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #f6f1e9;
    padding: 40px 20px 20px 20px;
    border: 1px solid #888;
    width: 470px;
    min-height: 500px;
    border-radius: 8px;
    text-align: center;
  }

  .close {
    color: #000;
    float: right;
    font-size: 26px;
    font-weight: bold;
    position: absolute;
    right: 12px;
    top: 12px;
    display: block;
    margin-left: auto;
    width: 26px;
    height: 26px;
    background: none;
    line-height: 1;
    filter: var(--text-shadow);
    transition: all 0.1s ease-in-out;
    &:hover,
    &:focus {
      color: #e00400;
      text-decoration: none;
      cursor: pointer;
      text-shadow: var(--text-stroke);
    }
  }

  &.video {
    ::-webkit-scrollbar {
      height: 10px;
      width: 7px;
    }
    ::-webkit-scrollbar-thumb {
      background-color: #383838;
      border-radius: 8px;
      background-clip: padding-box;
      border-top: 1px solid transparent;
      border-bottom: 1px solid transparent;
    }
    ::-webkit-scrollbar-track {
      background-color: #000;
    }
    .close {
      color: var(--text-revers);
      font-size: 36px;
      font-weight: 300;
      width: 36px;
      height: 36px;
      top: 0;
    }
    .modal {
      &-content {
        width: 1720px;
        height: 900px;
        padding: 0;
        background: var(--bg-video);
        border: none;
        border-radius: 20px;
        overflow: hidden;
      }
      &-body {
        display: grid;
        grid-template-columns: 1283fr 437fr;
      }
    }

    .video {
      &-contents {
        height: 900px;
        border-right: 1px solid var(--border-video);
      }

      &-box {
        position: relative;
        padding-top: 56.0405%;
        border-bottom: 1px solid var(--border-video);
        overflow: hidden;
        iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
      &-info {
        height: 184px;
        padding: 0 36px;
        text-align: left;
        color: var(--text-revers);
        overflow-y: auto;
        .tit-box {
          width: 100%;
          height: 80px;
          flex-direction: column;
          border-bottom: 1px solid var(--border-video);
          @include flex(flex-start, center);
          h3 {
            font-size: 20px;
            font-weight: 700;
          }
        }
        .meta {
          font-size: 14px;

          span {
            color: var(--text-video-primary);
          }
          em {
            font-weight: 700;
          }
          color: var(--text-video-primary);
        }
        .desc {
          padding: 22px 0;
          font-size: 14px;
          font-weight: 500;
          color: var(--text-vodeo-secondary);
        }
      }

      &-side {
        display: grid;
        grid-template-rows: auto 1fr auto;
        grid-auto-rows: auto;
        height: 900px;
        .comment-wrap {
          align-self: end;
        }
      }
      &-header {
        padding-top: 38px;
        padding-left: 16px;
        min-height: 38px;
        color: var(--text-revers);
        gap: 16px;
        @include flex(flex-start, flex-start);
        .tit {
          font-size: 16px;
          font-weight: 700;
          line-height: 26px;
        }
        .badge {
          width: 42px;
          height: 26px;
          background: var(--bg-keyword-primary);
          font-size: 14px;
          color: var(--text-keyword-primary);
          @include flex();
          border-radius: 25px;
        }
      }
      &-list {
        padding-top: 20px;

        overflow-y: auto;
        align-self: start;
      }
    }

    .comment {
      &-box {
        width: 100%;
        padding: 8px;
        gap: 8px;
        border-top: 1px solid var(--border-video);
        @include flex();
      }
    }
    textarea {
      flex-grow: 1;
      color: #fff;
      background: #2a2a2a;
      height: 32px;
      border-radius: 4px;
      padding: 6px 8px;
      font-size: 14px;
      line-height: 1.4;
      &::placeholder {
        color: rgba(255, 255, 255, 0.5);
      }
    }
    .btn {
      &-area {
        gap: 4px;
        @include flex();
      }
      &-active {
        background: var(--bg-btn-primary);
      }
    }
    /* 버튼 */
    [class^="btn"] {
      min-width: 40px;
      min-height: 32px;
      border-radius: 4px;
      color: #fff;
      border: 1px solid rgba(255, 255, 255, 0.05);
      background: #000;
      font-size: 12px;
      &:disabled {
        color: #8f8f8f;
        background: var(--bg-btn-secondary);
        border: 1px solid var(--border-btn);
      }
      &[class*="save"] {
        &:not(:disabled) {
          background: var(--text-accent);
          border: none;
        }
      }
    }
  }
}

.video {
  &-list {
    padding: 0 16px;
    li {
      border-bottom: 1px solid var(--border-video);
    }
    .list {
      width: 100%;
      gap: 20px;
      padding: 8px;
      @include flex(center, flex-start);
    }
    .thumb {
      position: relative;
      min-width: 120px;
      height: 94px;
      border-radius: 4px;
      background: rgba(255, 255, 255, 0.1);
      overflow: hidden;
      @include flex();
      img {
        width: 100%;
        height: auto;
        max-width: auto;
      }
    }
    .txt-box {
      flex-direction: column;
      gap: 4px;
      @include flex(flex-start, center);
      .checkbox {
        position: absolute;
        top: 10px;
        right: 42px;
        width: 24px;
        height: 24px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='18' viewBox='0 0 22 18' fill='none'%3E%3Cpath d='M15.95 0C14.036 0 12.199 0.79455 11 2.04033C9.801 0.79455 7.964 0 6.05 0C2.662 0 0 2.36403 0 5.39509C0 9.09319 3.74 12.1243 9.405 16.7052L11 18L12.595 16.7052C18.26 12.1243 22 9.09319 22 5.39509C22 2.36403 19.338 0 15.95 0Z' fill='white'/%3E%3Cpath d='M15.9502 0.75C19.0079 0.750089 21.25 2.85803 21.25 5.39551C21.2499 6.96829 20.4613 8.47481 18.8691 10.2119C17.2723 11.9541 14.9715 13.8187 12.123 16.1221L12.1221 16.123L11 17.0332L9.87793 16.123L9.87695 16.1221L7.8457 14.4717C5.92217 12.894 4.3285 11.5185 3.13086 10.2119C1.5387 8.47481 0.750138 6.96829 0.75 5.39551C0.75 2.85803 2.99208 0.75009 6.0498 0.75C7.76714 0.75 9.40728 1.4668 10.46 2.56055L11 3.12207L11.54 2.56055C12.5927 1.4668 14.2329 0.75 15.9502 0.75Z' stroke='%23060505' stroke-opacity='0.2' stroke-width='1.5'/%3E%3C/svg%3E");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        &:has(:checked) {
          background-image: url("data:image/svg+xml,%3Csvg width='22' height='18' viewBox='0 0 22 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.95 0C14.036 0 12.199 0.79455 11 2.04033C9.801 0.79455 7.964 0 6.05 0C2.662 0 0 2.36403 0 5.39509C0 9.09319 3.74 12.1243 9.405 16.7052L11 18L12.595 16.7052C18.26 12.1243 22 9.09319 22 5.39509C22 2.36403 19.338 0 15.95 0Z' fill='%23ff5c00'/%3E%3Cpath d='M15.9502 0.75C19.0079 0.750089 21.25 2.85803 21.25 5.39551C21.2499 6.96829 20.4613 8.47481 18.8691 10.2119C17.2723 11.9541 14.9715 13.8187 12.123 16.1221L12.1221 16.123L11 17.0332L9.87793 16.123L9.87695 16.1221L7.8457 14.4717C5.92217 12.894 4.3285 11.5185 3.13086 10.2119C1.5387 8.47481 0.750138 6.96829 0.75 5.39551C0.75 2.85803 2.99208 0.75009 6.0498 0.75C7.76714 0.75 9.40728 1.4668 10.46 2.56055L11 3.12207L11.54 2.56055C12.5927 1.4668 14.2329 0.75 15.9502 0.75Z' stroke='white' stroke-opacity='0.2' stroke-width='1.5'/%3E%3C/svg%3E%0A");
        }
      }
      .category {
        font-size: 12px;
        font-weight: 700;
        color: #fff;
        &.leader {
          color: var(--text-cate-primary);
        }
        &.insight {
          color: var(--text-cate-secondary);
        }
        &.biz {
          color: var(--text-cate-tertiary);
        }
      }
      .title {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.2;
        color: var(--text-revers);
        text-align: left;
        @include ellipsis(2);
      }
    }
  }
}

.guide-wrap {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: var(--window-inner-height);
  z-index: 999;
}
/* media query */
// 3840px 초과: 4K 이상
@media all and (min-width: 3841px) {
  html {
    font-size: 20px;
  }
}
// 3200px 초과 ~ 3840px: 4K 디스플레이
@media all and (min-width: 3201px) and (max-width: 3840px) {
  html {
    font-size: 18px;
  }
}
// 2560px 초과 ~ 3200px: 매우 큰 데스크톱
@media all and (min-width: 2561px) and (max-width: 3200px) {
  html {
    font-size: 16px;
  }
}

// 1920px 초과 ~ 2560px: 큰 데스크톱
@media all and (min-width: 1921px) and (max-width: 2560px) {
  html {
    font-size: 14px;
  }
}

// 1024px ~ 1920px: 기본 데스크톱
@media all and (min-width: 1024px) and (max-width: 1920px) {
  html {
    font-size: 10px;
  }
}

// 1023px 이하: 태블릿
@media all and (max-width: 1023px) {
  html {
    font-size: 14px;
  }
}

// 767px 이하
@media all and (max-width: 767px) {
  html {
    font-size: 13px;
  }
}

// 639px 이하
@media all and (max-width: 639px) {
  html {
    font-size: 12px;
  }
}

// 479px 이하
@media all and (max-width: 479px) {
  html {
    font-size: 10px;
  }
}

// 359px 이하
@media all and (max-width: 359px) {
  html {
    font-size: 9px;
  }
}

// 319px 이하
@media all and (max-width: 319px) {
  html {
    font-size: 8px;
  }
}
