@charset "UTF-8";

@use "base" as *;

@font-face {
  font-family: "YeogiOttaeJalnan";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff")
    format("woff");
  font-weight: normal;
  font-display: swap;
}

.intro {
  background: linear-gradient(
    180deg,
    #f9f5f2 0%,
    #fff 18.77%,
    #fff 41.8%,
    #ece8e4 100%
  );
  background-attachment: fixed;
  overflow: auto;
  .container {
    position: relative;
    height: var(--window-inner-height);
    background: var(--bg-intro);
    overflow: hidden;
    flex-direction: column;
    margin-top: 0;
    color: var(--text-intro-base);
    border-radius: 0;
    border: none;
    @include flex();
  }
  /* Text Area - 고정 위치 */
  .text-area {
    min-height: 160px;
    text-align: center;
    margin-bottom: 34px;
    &:has(.greeting.hidden, .update-text.hidden) {
      min-height: 0;
      margin-bottom: 0px;
    }
  }

  /* Section 1 스타일 */
  .greeting {
    font-size: 36px;
    font-weight: 300;
    line-height: 1.2;
    height: 656px;
  }
  .name {
    font-weight: 500;
  }

  .welcome {
    font-size: 36px;
    font-weight: 300;
    span {
      display: inline-block;
      opacity: 0;
      transform: translateY(20px);
      &.show {
        animation: fadeInUp 0.4s forwards;
      }
    }
    em {
      font-weight: 500;
    }
  }
  /* Section 2 스타일 */
  .update {
    &-text {
      text-align: center;
    }
    &-line {
      font-size: 36px;

      overflow: hidden;
      &.bold,
      em {
        font-weight: 500;
      }
      > span {
        display: inline-block;
        opacity: 0;
        transform: translateY(100%);
        &.show {
          animation: slideUp 0.6s forwards;
        }
      }
    }
  }
  /* Section 3 스타일 */
  .cta {
    &-text {
      position: relative;
      text-align: center;
      font-size: 42px;
      font-weight: 300;
      line-height: 1.2;
      width: 100vw;
      height: var(--window-inner-height);
      > div {
        width: 100vw;
        height: var(--window-inner-height);
        flex-direction: column;
        @include flex();
        &:not(.mask) {
          position: relative;
          z-index: 1;
          cursor: default;
          .text-section {
            opacity: 0;
            transform: translateY(20px);
            &:has(.show) {
              background-image: url(../images/intro/promise.svg);
              background-position: bottom;
              background-size: 586px auto;
              background-repeat: no-repeat;
              animation: fadeInUp 0.5s forwards;
            }
          }
          p {
            opacity: 0;
            transform: translateY(20px);
            &.show {
              animation: fadeInUp 0.5s forwards;
            }
          }
        }
      }
      .text-section {
        height: 220px;
        padding-top: 46px;
        margin-bottom: 116px;
        opacity: 1;
        &.show {
          animation: opacity 0.5s forwards;
        }
      }
      em {
        font-weight: 500;
      }
    }
    &-btn {
      position: absolute;
      top: 50%;
      left: 50%;
      background:
        radial-gradient(
          117.51% 77.94% at 48.87% 100%,
          rgba(255, 255, 255, 0.6) 0%,
          rgba(255, 255, 255, 0.3) 24.58%,
          rgba(255, 255, 255, 0) 100%
        ),
        #ff8200;

      color: white;
      border: none;
      padding: 22px 0;
      width: 483px;
      height: 116px;
      border-radius: 24px;
      font-size: 36px;
      font-weight: bold;
      box-shadow:
        0 -4px 4px 0 #e18d36 inset,
        4px 4px 12px -4px rgba(220, 196, 172, 0.85);
      transition: all 0.3s;
      opacity: 0;
      translate: -50% 25%;
      text-shadow: 0 2px 2px rgba(201, 121, 38, 0.5);
      text-align: center;
      z-index: 99;
      transform: translateY(50px);
      &.show {
        opacity: 1;
        transform: translateY(0);
        transition: all 0.3s linear;
      }
      &::after {
        content: " ";
        position: absolute;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        background: linear-gradient(
            65deg,
            rgba(255, 255, 255, 0.6) 0%,
            transparent 100%
          )
          #ff8200;
        padding: 2px;
        @include maskContents();
      }

      .ico-arrow {
        position: absolute;
        right: 72px;
        top: 50%;
        display: inline-block;
        width: 24px;
        height: 32px;
        background-image: url(../images/ico/ico_arrow_next_dashed.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        translate: 0 -50%;
        filter: drop-shadow(0 2px 2px rgba(201, 121, 38, 0.5));
        animation: arrow-next 3s infinite ease-in-out;
      }
    }
  }

  /* 마스크 효과 */
  .mask {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--bg-intro-mask);
    width: 100%;
    height: 100%;
    --size: 0px;
    -webkit-mask-image: url(../images/cursor.svg);

    -webkit-mask-origin: content-box;
    mask-origin: content-box;
    -webkit-mask-position:
      calc(var(--x) - var(--size) / 2) calc(var(--y) - var(--size) / 2),
      center;
    mask-position:
      calc(var(--x) - var(--size) / 2) calc(var(--y) - var(--size) / 2),
      center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: var(--size), contain;
    mask-size: var(--size), contain;
    min-height: 100%;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    color: rgba(0, 0, 0, 0.2);
    transition: mask-size 0.2s linear;
    .text-section {
      background-image: url(../images/intro/promise_b.svg);
      background-position: bottom;
      background-size: auto;
      background-repeat: no-repeat;
    }
    .mask-text {
      color: #fff;
      em {
        font-style: normal;
      }
    }
  }

  /* 콘텐츠 영역 */
  .content-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 34px;
  }
  /* Cards */
  .card {
    background: white;
    border-radius: 0 0 12px 12px;
    padding: 86px 40px 68px;
    width: 465px;
    border: 2px solid rgba(255, 255, 255, 0.8);
    box-shadow: 0 24px 24px 0 rgba(215, 209, 204, 0.5);
    opacity: 0;
    transform: translateY(60px);
    transition: all 0.6s ease;
    flex-direction: column;
    text-align: center;
    @include flex();
    &-list {
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;
      justify-content: center;
      gap: 40px;
    }
    &.show {
      opacity: 1;
      transform: translateY(0);
    }
    &-num {
      font-family: YeogiOttaeJalnan;
      font-size: 120px;
      font-weight: 400;
      line-height: 1;
      color: transparent;
      opacity: 0.1;
      /* 1. 기본 그라데이션 배경 정의 */
      background: linear-gradient(180deg, transparent 30%, #ffffff 80%) #1b1810;
      /* 2. 배경을 텍스트의 모양에만 클리핑 */
      -webkit-background-clip: text; /* Chrome, Safari, Opera */
      background-clip: text;
    }
    &-title {
      font-size: 32px;
      font-weight: 300;
      margin-bottom: 42px;
      margin-top: -46px;
    }
    &-desc {
      font-size: 24px;
      margin-top: 1rem;
    }
    em {
      font-weight: 700;
    }
  }
}

.typing {
  opacity: 0;
}

.cursor {
  display: inline-block;
  width: 2px;
  height: 1.2em;
  margin-left: 2px;
  animation: blink 0.7s infinite;
  vertical-align: text-bottom;
}

.scroll-indicator {
  position: absolute;
  left: 50%;
  bottom: 0%;
  translate: -50% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  &.hidden {
    opacity: 0;
    pointer-events: none;
  }
  &.sec2 {
    .bar {
      height: 60px;
    }
  }
  span {
    font-size: 16px;
    color: var(--text-intro-base);
    opacity: 0.8;
  }
  .bar {
    width: 2px;
    height: 110px;
    background-color: rgba(0, 0, 0, 0.3);
    overflow: hidden;
    transition: height 0.5s linear;
    &::before {
      content: " ";
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 0 0 4px 4px;
      background-color: #111;
      animation: scroll-down 2s infinite ease-in-out;
    }
  }
}
