@charset "UTF-8";

@use "base" as *;
@forward "_root";

.main {
  .container {
    position: relative;

    .bg-circle {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 100%;
      margin: auto;
      height: calc(var(--window-inner-height) - 64px);
      mask:
        linear-gradient(
          to right,
          transparent 0%,
          black 10%,
          black 90%,
          transparent 100%
        ),
        linear-gradient(
          180deg,
          #d9d9d9 0%,
          rgba(166, 166, 166, 0.08) 40%,
          rgba(140, 140, 140, 0.08) 60%,
          #737373 100%
        );
      mask-composite: intersect;
      -webkit-mask:
        linear-gradient(
          to right,
          transparent 0%,
          black 10%,
          black 90%,
          transparent 100%
        ),
        linear-gradient(
          180deg,
          #d9d9d9 0%,
          rgba(166, 166, 166, 0.08) 40%,
          rgba(140, 140, 140, 0.08) 60%,
          #737373 100%
        );
      -webkit-mask-composite: source-in;
      translate: -50% -50%;
      @include flex();
      overflow: hidden;
      &::before {
        content: " ";
        position: absolute;
        top: 50%;
        width: 100vw;
        height: 67.22222vh;
        background: linear-gradient(
          180deg,
          #ece3d2 0%,
          #fff 23.56%,
          #fff 66.83%,
          #ece3d2 100%
        );
        translate: 0 -50%;
        opacity: 0.67;
      }

      ul {
        position: relative;
        width: clamp(1372px, 71.45833vw, 71.45833vw);
        aspect-ratio: 1 / 1;
        li {
          position: absolute;
          top: 50%;
          left: 50%;
          aspect-ratio: 1 / 1;
          border-radius: 50%;
          border: 1px solid #a7790f;
          translate: -50% -50%;
          background-blend-mode: multiply, normal;
          background:
            linear-gradient(
              0deg,
              rgba(127, 47, 0, 0.1) 0%,
              rgba(127, 47, 0, 0.1) 100%
            ),
            radial-gradient(
              50% 50% at 50% 50%,
              rgba(167, 121, 15, 0) 94.72%,
              rgba(167, 121, 15, 0.5) 100%
            );
          &::before,
          &::after {
            content: " ";
            position: absolute;
            border-radius: 50%;
            aspect-ratio: 1 / 1;
            top: 50%;
          }
          &:nth-child(1) {
            width: clamp(1372px, 71.45833vw, 71.45833vw);
            transform: rotate(30deg);
            &::before {
              width: 12px;
              height: 12px;
              background: radial-gradient(
                50% 50% at 50% 50%,
                rgba(221, 144, 0, 0.6) 60%,
                rgba(221, 144, 0, 0.8) 100%
              );

              stroke-width: 1px;
              stroke: rgba(221, 144, 0, 0.2);
              left: -6px;
              opacity: 0.6;
            }
            &::after {
              width: 14px;
              height: 14px;
            }
          }
          &:nth-child(2) {
            width: clamp(1066px, 55.5208vw, 55.5208vw);
            opacity: 0.7;
          }
          &:nth-child(3) {
            width: clamp(794px, 41.3541vw, 41.3541vw);
            opacity: 0.6;
          }
          &:nth-child(4) {
            width: clamp(470px, 24.4791vw, 24.4791vw);
            opacity: 0.5;
          }
        }
      }
    }
  }

  &-contents {
    width: 100%;
    height: calc(var(--window-inner-height) - 64px);
    flex-direction: column;
    @include flex();
    .text-box {
      text-align: center;
      z-index: 1;
      span {
        color: var(--text-main-primary);
        font-size: 32px;
        em {
          font-weight: 700;
        }
      }
      p {
        color: var(--text-main-primary);
        font-size: 38px;
        em {
          color: var(--text-main-secondary);
          font-weight: 700;
        }
      }
    }

    .keyword-area {
      padding-top: 18px;
      padding-bottom: 15px;
      text-align: center;
      flex-direction: column;
      gap: 12px;
      @include flex();
      button {
        font-size: 13px;
        font-weight: 700;
        color: var(--text-main-primary);
        opacity: 0.7;
        .ico-setting {
          display: inline-block;
          width: 14px;
          height: 14px;
          background: url(../images/ico/ico_setting.svg);
        }
      }
      ul {
        max-width: 470px;
        flex-wrap: wrap;
        gap: 9px;
        @include flex();
        li {
          padding: 12px 9px;
          border-radius: 24px;
          color: var(--text-keyword-base);
          background: var(--bg-keyword-base);
          border: 1px solid var(--border-keyword-base);
          font-weight: 500;
          line-height: 1;
          &.kw {
            &-allow {
              color: var(--text-keyword-secondary);
              background: var(--bg-keyword-primary-hover);
              border: 1px solid var(--border-keyword-primary-hover);
              &.active {
                color: var(--text-keyword-primary);
                background: var(--bg-keyword-primary);
                border: 1px solid var(--border-keyword-primary);
              }
            }
            &-deny {
              color: var(--text-keyword-secondary);
              background: var(--bg-keyword-secondary-hover);
              border: 1px solid var(--border-keyword-secondary-hover);
              &.active {
                color: var(--text-keyword-primary);
                background: var(--bg-keyword-secondary);
                border: 1px solid var(--border-keyword-secondary);
              }
            }
          }
        }
      }
    }
  }

  .video {
    &-wrap {
      position: absolute;
      width: 100%;
      height: calc(var(--window-inner-height) - 64px);
      .btn {
        &-prev,
        &-next {
          position: absolute;
          width: 84px;
          height: 180px;
          top: 50%;
          translate: 0 -50%;

          @include textBlind();
        }
        &-prev {
          left: 40px;
          background: url(../images/main/btn_prev.svg);
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
        }
        &-next {
          right: 40px;
          background: url(../images/main/btn_next.svg);
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
        }
      }
      .pagination {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 20px;
        color: rgba(0, 0, 0, 0.4);
        font-weight: 400;
        .current {
          font-size: 24px;
          font-weight: 700;
        }
      }
    }
    &-cards-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
      align-items: center;
      justify-items: center;
      height: 100%;
      column-gap: 10%;
    }

    &-card {
      width: 360px;
      height: 144px;
      border-radius: 120px;
      border: 1px solid rgba(255, 255, 255, 0.8);
      background: rgba(255, 255, 255, 0.6);
      box-shadow: 0 8px 12px 0 rgba(217, 202, 190, 0.5);
      backdrop-filter: blur(9.350000381469727px);
      gap: 22px;
      padding: 8px 32px 8px 12px;
      @include flex();
      &:nth-child(3) {
        margin-left: -30%;
      }
      &:nth-child(4) {
        margin-right: -30%;
      }
      &:hover {
        &::before {
          content: " ";
          position: absolute;
          width: 100%;
          height: 100%;
          padding: 15px;
          border-radius: 120px;
          background: linear-gradient(
            180deg,
            #ff6600 0%,
            rgba(255, 132, 0, 0.7) 100%
          );
          box-shadow: 0 8px 12px 0 rgba(217, 202, 190, 0.5);
          backdrop-filter: blur(9.350000381469727px);
          @include maskContents();
          padding: 15px;
          top: -15px;
          left: -15px;
        }
      }
      .thumbnail {
        position: relative;
        min-width: 128px;
        max-width: 128px;
        border-radius: 50%;
        aspect-ratio: 1 / 1;
        overflow: hidden;
        @include flex();
        &::after {
          content: " ";
          position: absolute;
          width: 100%;
          height: 100%;
          background: rgba(255, 255, 255, 0.3);
          box-sizing: border-box;
          @include maskContents();
          padding: 4px;
        }
        img {
          width: 100%;
          height: 100%;
          max-width: auto;
        }
      }
      .txt-box {
        flex-direction: column;
        @include flex(flex-start, center);

        .category {
          margin-bottom: 8px;
          font-size: 12px;
          font-weight: 700;
          color: #252525;
          display: block;
          padding: 4px 6px;
          border-radius: 4px;
          background: #ded7cf;
        }
        .title {
          font-size: 20px;
          font-weight: 700;
          line-height: 1.2;
          color: var(--text-primary);
          @include ellipsis(2);
        }
        .author {
          margin-top: 16px;
          font-size: 14px;
          font-weight: 500;
          color: var(--text-secondary);
        }
      }
    }
  }
}
