@charset "UTF-8";

@use "base" as *;
@forward "_root";
@forward "_layout";

.page-tit-wrap {
  max-height: 12.4rem;
  flex-direction: column;
  @include flex();
  &:has(.tip-box) {
    .tit-box {
      position: relative;
      height: max-content;
      filter: drop-shadow(0 2px 8px rgba(0, 0, 0, 0.1));
      h3 {
        position: relative;
        height: 6.4rem;
        padding: 0 16px;
        padding-top: 0.4rem;
        background: linear-gradient(180deg, #f1ede6 0%, #e7e1d5 100%);
        z-index: 1;
        //box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        @include flex();
        &::before {
          content: " ";
          position: absolute;
          width: 100%;
          height: 100%;
          background: #fff;
          box-sizing: border-box;
          @include maskContents();
          padding: 0 0 1px 0;
        }
      }
      .page-tail {
        width: 6.4rem;
        height: 6.4rem;
        position: relative;
        &:last-child {
          transform: scaleX(-1);
        }
        &::before,
        &::after {
          position: absolute;
          top: 0;
          mask-image: url(../images/mask_page_tail.svg);
          mask-repeat: no-repeat;
          mask-position: left center;
          mask-size: cover;
        }
        &::before {
          content: "";
          width: 100%;
          height: 100%;
          left: 0;
          background: linear-gradient(
            180deg,
            rgba(255, 255, 255, 0.5) 0%,
            rgba(255, 255, 255, 1) 100%
          );
        }
        &::after {
          content: "";
          width: calc(100% - 1px);
          height: calc(100% - 1px);
          right: 0;
          background: linear-gradient(180deg, #f1ede6 0%, #e7e1d5 100%);
        }
      }
    }
  }
}

.tit-box {
  position: relative;
  font-size: 2.4rem;
  height: 7rem;
  width: max-content;
  @include flex();
  span {
    color: var(--text-accent);
  }
}
.tip {
  &-box {
    padding: 18px 0;
    gap: 14px;
    @include flex();
    .tip-tit {
      padding: 4px 14px;
      background-color: var(--bg-tip-title);
      border-radius: 25px;
      font-size: 1.2rem;
      color: var(--text-tip-title);
      font-weight: 700;
    }
    dl {
      gap: 8px;
      @include flex();
      dt {
        padding: 2px 10px;
        background-color: var(--bg-tip-title);
        border-radius: 25px;
        font-size: 1rem;
        color: var(--text-tip-title);
        font-weight: 700;
      }
      dd {
        font-size: 1.4rem;
        font-weight: 500;
        color: var(--text-tip-text);
        img {
          width: 24px;
        }
      }
    }
  }
}

.contents {
  position: relative;
  width: 100%;
  flex-grow: 1;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  background: #f6f1e9;
  filter: drop-shadow(0 -8px 15px rgba(0, 0, 0, 0.05));
  text-align: center;
  @include flex();
  .inner {
    position: relative;
    width: calc(100% - 100px);
    max-width: 100%;
  }
  .bg-img {
    width: 100%;
    height: auto;
    max-width: auto;
    max-height: 100%;
    object-fit: contain;
  }
  .ex-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  [class^="link"] {
    position: absolute;
    cursor: pointer;
    border-radius: 2px;
    @include responsive-height(24);
    transition: all 0.2s linear;
    &:hover {
      background: rgba(0, 76, 240, 0.2);
    }
  }
}

.description {
  li {
    position: absolute;
    flex-direction: column;
    height: 0;
    gap: 4px;
    @include flex();
    &.revers {
      flex-direction: column-reverse;
    }
    h6 {
      height: 2.4rem;
      padding: 0 8px;
      background-color: #fff;
      border-radius: 2px;
      font-size: 1.4rem;
      color: var(--text-accent);
      border: 1.5px solid var(--border-accent);
      @include flex();
    }
    p {
      font-size: 1.4rem;
    }
  }
}
.interface01 {
  .link {
    &-homemenu {
      @include responsive-width(71);
      @include responsive-top(29);
      @include responsive-left(98);
    }
    &-filetab {
      @include responsive-width(150);
      @include responsive-height(46);
      @include responsive-top(434);
      @include responsive-left(20.55);
    }

    &-layer {
      @include responsive-width(99);
      @include responsive-top(434);
      @include responsive-left(366);
    }
    &-color {
      @include responsive-width(86);
      @include responsive-top(395);
      @include responsive-left(519);
    }
    &-line {
      @include responsive-width(111);
      @include responsive-top(415);
      @include responsive-left(726);
    }
    &-text {
      @include responsive-width(124);
      @include responsive-top(358);
      @include responsive-right(607.6);
    }

    &-msmt {
      @include responsive-width(124);
      @include responsive-top(358);
      @include responsive-right(472);
    }

    &-propsbar {
      @include responsive-width(80);
      @include responsive-top(68);
      @include responsive-right(352);
    }

    &-mainprops {
      @include responsive-width(71);
      @include responsive-top(124);
      @include responsive-right(146);
    }

    &-print {
      @include responsive-width(58);
      @include responsive-top(261.22);
      @include responsive-right(378);
    }

    &-ggurumi {
      @include responsive-width(71);
      @include responsive-top(261.22);
      @include responsive-right(301);
    }

    &-mainprf {
      @include responsive-width(137);
      @include responsive-top(678);
      @include responsive-left(81.09);
    }

    &-setbar {
      @include responsive-width(137);
      @include responsive-top(765);
      @include responsive-left(97);
    }

    &-cmdbar {
      @include responsive-width(124);
      @include responsive-top(765);
      @include responsive-right(739);
    }

    &-cmdall {
      @include responsive-width(127);
      @include responsive-top(740);
      @include responsive-right(104);
    }

    &-layouttab {
      @include responsive-width(121);
      @include responsive-height(46);
      @include responsive-top(628);
      @include responsive-right(40);
    }
  }
}
.interface02 {
  .link {
    &-systm {
      @include responsive-width(111);
      @include responsive-top(252.59);
      @include responsive-left(76.2);
    }
  }
}

.customize01 {
  .link {
    &-prfall {
      @include responsive-width(177);
      @include responsive-top(779.89);
      @include responsive-left(93);
    }

    &-cmdall {
      @include responsive-width(124);
      @include responsive-top(779.89);
      @include responsive-right(89.5);
    }
  }
}

.customize02 {
  .description {
    li {
      &:nth-child(1) {
        @include responsive-left(270);
        @include responsive-top(138);
      }
    }
  }
  .link {
    &-prfall {
      @include responsive-width(83);
      @include responsive-top(302);
      @include responsive-right(66);
    }

    &-cmdall {
      @include responsive-width(99);
      @include responsive-top(604.61);
      @include responsive-right(61);
    }

    &-cven {
      @include responsive-width(88);
      @include responsive-top(604.61);
      @include responsive-right(61);
    }

    &-struc {
      @include responsive-width(88);
      @include responsive-top(682.3);
      @include responsive-right(61);
    }
    &-shortcut {
      @include responsive-width(88);
      @include responsive-top(682.3);
      @include responsive-right(61);
    }
  }
}

.customize03 {
  .link {
    &-grid {
      @include responsive-width(73);
      @include responsive-top(41, 840);
      @include responsive-left(420);
    }

    &-grip {
      @include responsive-width(116);
      @include responsive-top(41, 840);
      @include responsive-left(658.5);
    }

    &-ortho {
      @include responsive-width(88);
      @include responsive-top(40, 840);
      @include responsive-right(271);
    }

    &-iso {
      @include responsive-width(144);
      @include responsive-top(478.72, 840);
      @include responsive-left(109);
    }

    &-overlap {
      @include responsive-width(154);
      @include responsive-top(705.22, 840);
      @include responsive-left(637);
    }

    &-osnap {
      @include responsive-width(88);
      @include responsive-top(705.22, 840);
      @include responsive-left(882.5);
    }

    &-dynamic {
      @include responsive-width(88);
      @include responsive-top(733, 840);
      @include responsive-right(503.25);
    }

    &-angle {
      @include responsive-width(101);
      @include responsive-top(408.72, 840);
      @include responsive-right(211);
    }

    &-efct {
      @include responsive-width(116);
      @include responsive-top(575.72, 840);
      @include responsive-right(196);
    }

    &-systm {
      @include responsive-width(139);
      @include responsive-top(270.6);
      @include responsive-right(40);
    }

    &-cmdall {
      @include responsive-width(99);
      @include responsive-top(424.91);
      @include responsive-right(80);
    }

    &-cven {
      @include responsive-width(88);
      @include responsive-top(604.61);
      @include responsive-right(61);
    }

    &-struc {
      @include responsive-width(88);
      @include responsive-top(682.3);
      @include responsive-right(61);
    }
    &-shortcut {
      @include responsive-width(88);
      @include responsive-top(682.3);
      @include responsive-right(61);
    }
  }
}

.multi01 {
  .link {
    &-props {
      @include responsive-width(155);
      @include responsive-top(205, 840);
      @include responsive-right(283);
    }
  }
}

.command01 {
  .link {
    &-systm {
      @include responsive-width(139);
      @include responsive-top(270.6);
      @include responsive-right(40);
    }

    &-cmdall {
      @include responsive-width(99);
      @include responsive-top(424.91);
      @include responsive-right(80);
    }

    &-cven {
      @include responsive-width(88);
      @include responsive-top(604.61);
      @include responsive-right(61);
    }

    &-struc {
      @include responsive-width(88);
      @include responsive-top(682.3);
      @include responsive-right(61);
    }
    &-shortcut {
      @include responsive-width(88);
      @include responsive-top(682.3);
      @include responsive-right(61);
    }
  }
}

.command02 {
  .link {
    &-systm {
      @include responsive-width(139);
      @include responsive-top(270.6);
      @include responsive-right(40);
    }

    &-prfall {
      @include responsive-width(88);
      @include responsive-top(604.61);
      @include responsive-right(61);
    }

    &-cmdall {
      @include responsive-width(99);
      @include responsive-top(424.91);
      @include responsive-right(80);
    }

    &-struc {
      @include responsive-width(88);
      @include responsive-top(682.3);
      @include responsive-right(61);
    }
    &-shortcut {
      @include responsive-width(88);
      @include responsive-top(682.3);
      @include responsive-right(61);
    }
  }
}

.command03 {
  .link {
    &-systm {
      @include responsive-width(139);
      @include responsive-top(270.6);
      @include responsive-right(40);
    }

    &-prfall {
      @include responsive-width(88);
      @include responsive-top(604.61);
      @include responsive-right(61);
    }

    &-cmdall {
      @include responsive-width(99);
      @include responsive-top(424.91);
      @include responsive-right(80);
    }

    &-cven {
      @include responsive-width(88);
      @include responsive-top(682.3);
      @include responsive-right(61);
    }
    &-shortcut {
      @include responsive-width(88);
      @include responsive-top(682.3);
      @include responsive-right(61);
    }
  }
}

.block01 {
  .link {
    &-block {
      @include responsive-width(58);
      @include responsive-top(108, 840);
      @include responsive-right(1127);
    }

    &-atrbBlock {
      @include responsive-width(83);
      @include responsive-top(427, 840);
      @include responsive-right(1127);
    }

    &-ref {
      @include responsive-width(83);
      @include responsive-top(603, 840);
      @include responsive-right(1127);
    }
  }
}

.block05 {
  .link {
    &-block {
      @include responsive-width(153);
      @include responsive-top(211, 840);
      @include responsive-right(337.24);
    }
  }
}

.floorPlan01 {
  .link {
    &-multi-print {
      @include responsive-width(83);
      @include responsive-top(131);
      @include responsive-right(197);
    }

    &-atrb-block {
      @include responsive-width(108);
      @include responsive-top(215);
      @include responsive-right(172);
    }
  }
}

.floorPlan02 {
  .link {
    &-select {
      @include responsive-width(134);
      @include responsive-top(270);
      @include responsive-right(1067);
    }
  }
}
