name: Mirror to GitLab

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  mirror:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Push to GitLab
        run: |
          set -e
          echo "➡️ Push to gitlab.com/$GITLAB_REPO"

          git config user.name "GitHub Actions"
          git config user.email "actions@github.com"

          git remote remove gitlab 2>/dev/null || true
          git remote add gitlab https://oauth2:${GITLAB_TOKEN}@gitlab.com/${GITLAB_REPO}.git
